<h3>Graphic Design Portfolio</h3>



<div class="simple-article-header">
  
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
   50th Anniversary Mustang Revealed
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->


  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>
<!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GbLsaguCAKo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>

  <!-- Article Post Content -->
  
<p>Model: 2014 Ford Mustang
Horsepower: 420 hp
Curb weight: 3,618 to 3,735 lbs
Engine: 5.0 L V8
MPG: Up to 18 city / 25 highway
Torque: 390 lb-ft
Transmission: 6-speed automatic, 6-speed manual</p>
  
    

</div>

  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

