<h3>Graphic Design Portfolio</h3>



<div class="simple-article-header">
  
  
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
   50th Anniversary Mustang Revealed
    </a>
  </h4>

  <!-- Article Author Name & Comment Hyperlink -->


  <!-- Article Social Links -->
  <div class="article-social">
    <a href="#" class="button social facebook">
      <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social twitter">
      <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social linkedin">
      <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
    </a>
    <a href="#" class="button social google-plus">
      <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
    </a>
  </div>
<!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GbLsaguCAKo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>
    
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
   ford mustang 2014 specs gt
    </a>
  </h4>

  <!-- Article Post Content -->
  
<p>Model: 2014 Ford Mustang
Horsepower: 420 hp
Curb weight: 3,618 to 3,735 lbs
Engine: 5.0 L V8
MPG: Up to 18 city / 25 highway
Torque: 390 lb-ft
Transmission: 6-speed automatic, 6-speed manual</p>
<!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/-v_FA0cjwuo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>
<!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
  Toyota FT-1 Concept - Jay Leno's Garage
    </a>
  </h4>
  <!-- Article Post Content -->
  
<p>Drivetrain & Performance
Engine	3.0-liter twin-scroll turbo six
Horsepower	335 HP
Torque	365 LB-FT
Transmission	8-speed automatic transmission with paddle shifters
0 to 60 mph	4.1 seconds</p>

  <!-- Article Post Content -->
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
Why the Lexus LFA Failed…Or Did It?
    </a>
  </h4>
  <!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/JnwLM-zJfVc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>    
  </div>
    <!-- Article Post Content -->
  
<p>Horsepower: 553 hp
Engine: 4.8 L V10
Curb weight: 3,263 lbs
MPG: 11 city / 16 highway
Torque: 354 lb-ft
Fuel tank capacity: 19.3 gal</p>
  <!-- Article Title -->
  <h4 class="article-title">
    <a href="#">
   M3 engine Assembly
    </a>
  </h4>
    <!-- Article Video -->
  <div class="article-post-image">
      <div class="responsive-embed">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/mmdH_gi84rg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div> 

  
    

</div>

  <app-portfolio-lightbox portfolioURL = '/assets/graphic.json'></app-portfolio-lightbox>

